<div class="row">
<div class="header " >
    <div class="head">
        <h1><u>Kaleemi-Kennels.Com</u></h1>
         <p>Where the warriors born</p>
    </div>
    <div class="button">
        <a routerLink="home">Home</a>
        
        <!-- <li  class="menu-container">
            <a routerLink="studs">Studs <img class="dropdowmimg" src="../../assets/down-arrow.png"  ></a>
            <div class="menu">
                <a routerLink="females">Females</a><br>
                <a routerLink="pups">Pups</a>
                
            </div>
        </li> -->
       

        <a routerLink="studs">Studs</a>
        <a routerLink="females">Females</a>
        <a routerLink="pups">Pups</a>
        <a routerLink="contactus">Contact us</a>
    </div>
</div>

</div>
