<div class="row">


    <div class="row ">
        <div class="col-md-4 img">
            <img src="../../assets/cher.jpg" alt="">
            
        </div>
        <div class="col-md-8 para">
         <p>Cher was bred by an Old timer Dogman named Carl Mims in USA. She was 3 years old and 1xw in 46 minutes when we brought her to Pakistan. <br>
            Cher was sired by a pure Bass Tramp Redboy 2xw ROM dog whose name was Mims Case , who himself was a 1xw 1xLG dog. Case was sired by Marlowe's Rattler out of Melvin's Faith, Rattler and Faith was both littermates and were Inbred progeny of Redboy. While if we look at the bottom side of Cher , her Dam was Mims' Flossie, who was sired by Mims' Rimfire 1xw out of Mims' Carolina Flo. Rimfire was sired by Mims' Moses 2xw who was Snooty-Bolio bred dog and his dam was Mims'Chug who was Sorrells-Bolio-Tombstone bred Bitch. On the other hand if we see pedigree of Carolina Flo she was basically Tudor-Carver-Sorrell-Heinzl bred bitch. <br>
            Cher was a great producing bitch, she sired one of the great dogs of our yard which includes Kaleemi Kennels Challenger when she was bred to Pineda's Colt, Kaleemi Kennels Comrade, Kaleemi Kennels Razor, Kaleemi Kennels Crush when she was bred to Kaleemi Kennels Tucker . <br>
            When we look at her overall producing ability and Pit Career , she was a complete Bulldog every Dogman requires. She was died in the year 2002 due to old age.</p>
        </div>
       <div class="col-md-12 head">
        <h2>Kaleemi Kennel's Cher </h2>
        <a class="pedigree" href="http://www.apbt.online-pedigrees.com/modules.php?name=Public&file=printPedigree&dog_id=115292"> Click here for pedigree</a>
       </div>
    </div>
     
    <div class="row ">
        <div class="col-md-4 img">
            <img src="../../assets/hayley.jpg" alt="hayley">
            
        </div>
        <div class="col-md-8 para">
         <p>Hayley was one of the best Senior Brood Bitch in Kaleem's yard. She was bred by an Old timer breeder named Pete Colby in MA, USA and was imported by us in the year 1993. She was imported in the first consignment shipped by us along side Kaleemi Kennels Tucker. Hayley was a black brindle with white chest , and was born on october 4th, 1992. <br>
            Hayley was sired by Colby's Marshall out of Colby's Jamie. Mrashall was a direct son of Colby's Chester when he was bred to a daughter of Colby's Grit and Colby's Sue , whose name was Goodwin's Candy (Fairlawn's Candy Apple) while Chester was sired by Colby's Angus out of Colby's Freda. If we see bottom side of Hayley , Her dam Jamie was sired by Colby's Dolan out of Heywood's Rasbree. Dolan was Sired by Mabboit's Crinson Tide out of one of the best brood bitch of her time named Colby's Lotus. <br>
            Hayley was died in the mid 2000s due to her old age.</p>
        </div>
       <div class="col-md-12 head">
        <h2>Kaleemi Kennel's Hayley  </h2>
        <a class="pedigree" href="http://www.apbt.online-pedigrees.com/modules.php?name=Public&file=printPedigree&dog_id=687198"> Click here for pedigree</a>
       </div>
    </div>
    
    <div class="row ">
        <div class="col-md-4 img">
            <img src="../../assets/dee dee.jpg" alt="deedee">
            
        </div>
        <div class="col-md-8 para">
         <p>Dee Dee, A pure Colby bred bitch was welphed and raised by Mr Louis Colby , She was born on Sep 30. 1992. Dee Dee was almost 2 years old when Mr Pervez Khan (Brother to M Kaleem Khan) went to Colby's yard and brought her alongside Colby's Leprechaun and has sent them both to Pakistan in the year 1995. <br>
            She was sired by Colby's Grit, A very Great and renowned Stud dog of Mr Louis Colby, He was a Brindle and white Blaze in colour and was sired by Colby's Red out of Colby's Uno (Daughter to the Great Colby's Galtie 2). While on the other side , Dee Dee's Dam was Colby's Bonnie. Bonnie was a Great Brood bitch of Colby's yard. She was sired by Colby's Dolan out of Heywood's Rasbree. <br>
            Dee Dee was tested hardly in Kaleemi Kennels with one of the Senior brood bitches, She has passed her test and proved her worth to be a Senior brood bitch. She had produced some really good dogs here. <br>
            Dee Dee was a great bitch, She lived a good life here, But in the year 1999, We lost her due to her old age, She will be always remembered as a great dog.</p>
        </div>
       <div class="col-md-12 head">
        <h2>Kaleemi Kennel's Dee Dee </h2>
        <a class="pedigree" href="http://www.apbt.online-pedigrees.com/modules.php?name=Public&file=printPedigree&dog_id=65202"> Click here for pedigree</a>
       </div>
    </div>
    </div>
