.formData{
    width: 50%;
   
}
.row{
    display: flex;
    justify-content: center;
    background-color: black;
    
   
}
.inputData{
    color: white;
    font-size: 20px;
}
.button{
    padding-top:5%;

    
}