<div class="row">
    
        <!--Section: Contact v.2-->
<section class="mb-4 formData">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4 inputData">Contact us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5 inputData">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form [formGroup]="contactForm" id="contact-form" name="contact-form" action="" method="">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control" formControlName="name">
                            <label for="name" class="inputData">Your name</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control" formControlName="email">
                            <label for="email" class="inputData">Your email</label>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->
                
                 <!--Grid row-->
                 <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="phonenumber" name="phonenumber" class="form-control" formControlName="phonenumber">
                            <label for="phonenumber" class="inputData">Phone number</label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control" formControlName="subject">
                            <label for="subject" class="inputData">Subject</label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea" formControlName="message"></textarea>
                            <label for="message" class="inputData">Your message</label>
                        </div>

                    </div>
                </div>
                <!--Grid row-->

            </form>

            <div class="text-center text-md-left button">
                <button class="btn btn-primary w-50"  (click)="submitData(contactForm.value)">Send</button>
                <p *ngIf="isSubmit">{{submitMessage}}</p>
            </div>
            <div class="status"></div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p class="inputData">Swabi, KP, 23520 Pakistan</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p class="inputData">+923219964654</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p class="inputData">Kaleemikennels.com</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>
<!--Section: Contact v.2-->
    </div>

