
<div class="row">
      <div class="col-md-12 welcome">
         <p class="intro">"Welcome to Kaleemi Kennels, your #1 source for the highest quality pit bulls available in Pakistan today. We are producing the great quality Gamedogs in Pakistan since 1993. The APBT breed standard stipulates that our dogs must be completely people friendly, intelligent, stable, athletically superior and uncompromisingly courageous. We will not compromise on any of these criteria. We breed to a standard, not for a particular purpose. We believe that faithfully breeding to a well-reasoned set of ideals best serves both man and dog."</p>
       <p class="tour">Take a tour of our yard both past and present and see why we are producing the best bulldogs in Pakistan today.</p>
      </div>
      <div class="col-md-12 images">
         <img src="../../assets/Amigo.jpg" >
         <img src="../../assets/bodger.jpg" >
         <img src="../../assets/cher.jpg" >
         <img src="../../assets/Jay.jpg" >
         <img src="../../assets/Method.jpg" >
      </div>
      <div class="col-md-12 history">
         <p>
            We are preserving the Redboy-Jocko-Bolio-Tombstone Jeep Carver Blood that have done so well throughout these years. We specialize the Boomer and RBJBT Jeep line of dogs. If you want these blood , you are on the right source
      
      Starting from the Great COLBY Line, we got Tucker(6xw otc), Bodger(3xw otc), Leprechaun, Dee Dee and Hayley. They all were bred by the Legendary Mr Louis Colby and his son Mr Peter Colby themselves. Then another pair of the Great Breeding of Mr Carl Mims, we got Challenger aka Amigo (10xw otc) and his Dam Cher 1xw in 45 minutes. After that, We Got a son of the Top 2nd Producer of the world , i mean Garner's Frisco son. His name was Jay. then Atlast we got a Termite bred dog named Marshal.
      We Started selectively breeding these dogs. We had succesfully combined the traits of the Colby Line with the Carl Mims'dogs and have made some extreamly Hard mouth freaks. They were Sherry, Comrade and Tucker jr. We did alot of succesful breedings but in the year 2004 , Unfortunately we had to stop our breedings and close our kennel for long time.
      <br>
      <b style="color: yellow;">
      Note: Kaleemi Kennels has NO affiliations with ANY other kennels . We are a one man operation in Swabi, KP that has many years of breeding structurally sound healthy puppies with excellent temperaments. We also provide excellent customer service to all of our customers.
      </b>
      <br>
      Coming back to the Game world again in 2016, we had thought about getting some good bloodline . At that time Southern Kennels Grand Champion Mayday 5xw ROM was the most famous performer and producer in the world. His son Barracuda was in the list of the best ones too. So we had a good conversation with Victor Aycart (Owner of Southern Kennels) and bought a 100% bred Mayday dog Kaleemi Kennels Biggie from him in Equador. and a double bred grand daughter of Gr Ch Destroyer 7xw Kaleemi Kennels Miss Destro from his friend Jose P. Serrano Rivera in Mexico
         </p>
      </div>
      <div class="col-md-12 images2">
         <img src="../../assets/spike.jpg" >
         <img src="../../assets/merigold.jpg" >
         <img src="../../assets/baby.jpg" >
         <img src="../../assets/badger.jpg" >
      </div>
      <div class="col-md-12 history">
         <p>As breeder , we can't breed just a single pair for years. That's why had to buy some other dogs too. We Started research about some good dogs, and we found a breeder in America. His name was Benjamin Pounder. He had a very Heavily bred Sami the Arab Boomer ROM's blood stud dog. we asked him to do some business with us and we brought a Male dog named Methodman (Who later became 1xGL in 80 minutes) and his Dam Crybaby (Redboy-Jocko-Jeep-Rascal) , who was sister to Ch Brownie 3xw 1xL and Neckbone 2xw 1xL. A year Later bought an another bitch from a guy named Baaqee Mohammad , that bitch's name is Kaleemi Kennels Badger , she has some good blood of Redboy-Jocko-Bolio-Tombstone with a touch of Carver-Boomerang.
            In April 2021 we got a new consignment from United States of America , in which we got our dog Max who was bred and raised by the old timer dogman Chico Lopez.</p>
      </div>

   </div>
     
